div.container{
  text-align: center;
}

div.container pre {
  text-align: left;
}

form {
  margin-bottom: 2em;
}

div.movie {
  margin: 1em;
}

div.movie a {
  padding: 0.5em;
}
div.video-container div,
div.video-container video
 {
  margin-left: auto;
  margin-right: auto;
  }
  
div.video-container {
  margin-bottom: 2em;
}